.about {
  max-width: 960px;
  margin: 0px auto 60px;
  padding: 0 27px;
}

.about__title {
  margin-top: 43px;
  margin-bottom: 14px;
  font-weight: 800;
  font-size: 23px;
  color: rgba(0, 0, 0, 0.8);
}

.about__text {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.8);
}

.about__link {
  font-size: 18px;
  color: rgb(51, 51, 51);
  border-bottom: 2px solid rgb(255, 152, 0);
}

.about__link:hover {
  border-bottom: none;
}
