.notFound {
  width: 100%;
  padding-top: 20px;

  text-align: center;
  background-color: #202329;
}

.notFound__title {
  color: white;
  font-weight: 900;
  font-size: 400px;
}

/* Responsive */

@media screen and (max-width: 800px) {
  .notFound__title {
    font-size: 300px;
  }
}
@media screen and (max-width: 600px) {
  .notFound__title {
    font-size: 50vw;
  }
}
